body{
    background: none repeat scroll 0 0 #000000;
    color: #fff;
    font: lighter 13px/23px "Helvetica Neue",Helvetica,"pragmatica-web",Arial,sans-serif;
}

#pano {
    width: 100vw;
    height: 100vh;
    position: inherit;
}
#map-canvas {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1000;
    border-right:2px solid black;
    border-bottom:2px solid black;
}
#hintbox-top {
    width: 800px;
    min-height: 120px;
    height: auto;
    position: inherit;
    z-index: 500;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid transparent;
}

#hintbox-top h1{
    text-align: center;
    margin-top: 10px;
    margin-bot: 10px;
}

#hintbox-top p{
    text-align: center;
    margin-top: 10px;
    margin-bot: 10px;
}
